mixin project(proj)
  .proj
    .top-border.right
    .top-border.left
    h3.proj__heading
        = proj.name
    .row(id=proj.id)
      //- .col-sm-3.col-md-2.text-center
      //-     if proj.project_lead.exists
      //-         span.proj__project_lead
      //-             img(src=proj._.project_lead.limit(120,120), alt=proj.name)
      .col-md-10.col-md-offset-1
        .proj_quote
          if proj.quote
            = proj.quote
        .proj__description
          if proj.description.html
            != proj.description.html
