<div class = "container">
    <div class = "jumbotron">< img src = "dub-works/public/images/logo.png  alt="LOGO" width="160">
            <h1> About Us</h1> 
        <p> Our team: </p>
        <p>                              Students </p>
        </div>
        <div class = "row">
            <div class = "col-sm-3 col-md-6 col-lg-4" style="background-color:yellow;">
            <!---pictures go above the names--->
                < img src = "/newDubworks2/logo_pic.PNG alt="Sarah" width="160">
            <p> Sarah Shavin - side projects </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="Konst" width="160">
            <p> Konstantin Mitic - Product development, 3D-printer enthusiast, very motivated, doer </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="Mike" width="160">
        <p> Michael Ready - Operations expert, driven, goal-oriented </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="IZ" width="160">
        <p> Isabella Sardegna - Community Outreach Fellow </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="Ryan" width="160">
        <p> Ryan Steed - Developer, analyst, modeler, co-founder, student, and other stuff </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="seb" width="160">
        <p> Sebastian Lora - Mechanical Engineering Patent Law </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="JO" width="160">
        <p> Joseph Schiarizzi - Founder of Fourth Wave and developer with goals </p>
            <p>               Factulty Sponsors </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="An" width="160">
        <p> Annamaria Konya Tannon - Evangelist </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="Rod" width="160">
        <p> Rodney Lake - Investor </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="Erica" width="160">
        <p> Erica Wortham - ethnographer, building creative infrastructure and curriculum </p>
        < img src = "/newDubworks2/logo_pic.PNG alt="Ran" width="160">
        <p> Randy Graves </p>
        <p> Bojana Jankovic - Adventuresome student. Cat lover </p>
        <p> Johnny Chou - Excel nerd </p>
         </div>
      </div>
</div>

