<div class = "container">
	<div class = "jumbotron">
	     <h1> About Us </h1>
        </div>

    <h2>Students</h2>

    <div class = "row">
       <div class = "col-sm-4">
         
           <!----- pictures go above names--->
           <img src = "/public/images/logo.png" alt = "Sara" width = "160">
           <p> Sara Shavin - side projects </p>
           <img src = "/public/images/logo.png" alt = "Kon" width = 160">
           <p> Konstantin Mitic - Product development, 3D-printer enthusiast, very motivated </p>
       </div>
       <div class = "col-sm-4">
           <img src = "/public/images/logo.png" alt = "Mike" width = "160">
           <p>Michael Ready- Operations expert, driven, goal-oriented </p>
           <img src = "/public/images/logo.png" alt = Is" width = "160">
           <p>Isabella Sardegna - Community Outreach Fellow</p>
       </div>
       <div class = "col-sm-4">
           <img src = "/public/images/logo.png" alt = "ryan" width = "160">
           <p> Ryan Steed- Developer, analyst, modeler, co-founder, student, and oter stuff</p>
          <img src = "/public/images/logo.png" alt ="seb" width = "160">
          <p> Sebastian Lora - Mechanical Engineering Patent Law </p>
          <img src = "/public/images/logo.png" alt ="jo" width = "160">
          <p> Joseph Schiarizzi - Founder of Fourth Wave and developer with goals </p>
      </div>    
   </div>
   <h3> Faculty Sponsors</h3>
  <div class = "row">
     <div class = "col-sm-4">
          <img src = "/public/images/logo.png" alt = "ana" width = "160">
          <p>Annamaria Konya Tannon - Evangelist </p>
          <img src = "/public/images/logo.png" alt = "rod" width = "160">
          <p>Rodney Lake - Investor </P>
     </div>
     <div class "col-sm-4">
          <img src = "public/images/logo.png" alt = "erica" width = "160">
          <p>Erica Wortham - ethnographer, building creative infrastructure and curriculum</p>
          <img src = "/public/imagges/logo.png" alt = "Rand" width = 160">
          <p> Randy Graves </P>
     </div>
     <div class = "col-sm-4">
          <img src = "/public/images/logo.png" alt = "BO" width = "160">
          <p>Bojana Jankovic - Adventuresome student, cat lover</p>
          <img src = "/public/images/logo.png" alt = "jon" width = "160">
          <p>Johnny Chou - Excel nerd </p>
     </div>
   
    
    


i</div>
