//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row.footer-copyright
		h5.footer-heading Address
		p Tompkins Hall M06, 725 23rd St NW, Washington, DC 20052
		ul.list-inline
			//- li: a(href='/about') More about dub.works
			li: a(href='/contact') Contact us
		
		br
		
		p Copyright &copy; 2018 GW Innovation Center.
		p Powered by <a href='http://keystonejs.com' rel='external'>KeystoneJS</a>.
