//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row.footer-copyright
		h5.footer-heading Address
		p 725 23rd St NW, Washington, DC 20052
		p Mezzanine Floor
		ul.list-inline
			//- li: a(href='/about') More about dub.works
			li: a(href='mailto:contact@dub.works') Contact us
		
		br
		
		p Copyright &copy; 2018 dub.works.
		//Powered by <a href='http://keystonejs.com' rel='external'>KeystoneJS</a>.
		//p Template <a href="https://github.com/JedWatson/sydjs-site" rel='external'>sydjs-site</a>.
