extends ../../layouts/default

include ../../mixins/organiser
include ../../mixins/organisation


block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title About

				.row: .col-sm-4.col-sm-offset-4
					a(href='http://dub.works/docs/gwic_multipager.pdf', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps View Our Multi-Pager

block content
	.page-content
		.section#what-we-do: .container
			h1.text-center GWIC Overview
			p.lead The GWIC is an open, interdisciplinary, collaborative space in education where we support innovation through direct learning experiences and real-world social engagements.
			p.lead Established in 2016 as a student-centered entity, the GWIC operates as a passion-driven startup representing a radical new direction for experiential learning in higher education. We offer a broad range of scenarios and partnerships to create novel and valuable learning experiences for students from across the university. To do this, we engage in an open, free-flowing ideation process among students, faculty, staff, and our external partners.
			p.lead The Innovation Center focuses on utilizing disruptive technology to make advances in education, healthcare and the environment. The cornerstone of our work is social engagement, a value closely linked to the practical nature of the problems we seek to address. The educational, opportunities created by our projects take learners outside of the confines of the classroom through immersive design and business planning processes that integrate science and art in new, creative ways.
			
		article.section#our-community: .container
			h1.text-center.pb-1 Our Community

			.row
				.col-lg-6
					.hover-img-container
						img(src="http://gwic.io/images/about/student-driven.jpg" style="width:100%").hover-zoom
				.col-lg-6.pt-2
					h3.text-center Human-Centered
					p.lead At the local and global levels, we work with users and stakeholders to co-create positive social impact.
			.row
				.col-lg-6.pt-2
					h3.text-center Inter-disciplinary
					p.lead Combining disciplines from all ten GW schools, we approach solving complex issues by pairing many unique skill sets and minds.
				.col-lg-6
					.hover-img-container
						img(src="http://gwic.io/images/about/student-driven.jpg" style="width:100%").hover-zoom
			.row
				.col-lg-6
					.hover-img-container
						img(src="http://gwic.io/images/about/student-driven.jpg" style="width:100%").hover-zoom
				.col-lg-6.pt-2
					h3.text-center Student-Driven
					p.lead Student initiated and led projects that turn textbook study into real-world experiences sit at the heart of our organization.

		.section#our-team: .container
			h1.text-center Our Team
			
			h3.text-center Fellows
			.row.about-organisers.col-md-offset-1.pb-2
				each org in fellows
					.col-sm-4
						+organiser(org)
			
			h3.text-center Fellows of Distinction
			.row.about-organisers.col-md-offset-1.pb-2
				each org in fellows_distinction
					.col-sm-4
						+organiser(org)
			
			h3.text-center Experts
			.row.about-organisers.col-md-offset-1.pb-2
				each org in experts
					.col-sm-4
						+organiser(org)
			
		.section#our-partners: .container
			h1.text-center Our Partners
			
			.organisations
				if organisations.length
					each org, i in organisations
						if i
							hr
						+organisation(org)
				else
					h3.text-muted There are no organisations yet. 

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
