extends ../../layouts/default

include ../../mixins/organiser
include ../../mixins/organisation


block intro
	article#hero.hero-meetup.hero-meetup--next
		section.hero-intro.hero-intro--hasmask
			.hero-background
			.hero-intro-content
				h1.title about
//	h1.title About Us

block content
	.page-content
		.section#multipager: .container
			.row: .col-sm-4.col-sm-offset-4
				a(href='http://dub.works/docs/gwic_multipager.pdf', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
					span.text-caps View Our Multi-Pager
		.section#what-we-do: .container
			h1.text-center What We Do
			p.lead The GW experience was and, to some, still is largely tailored for the young international entrepreneur, catering to the political scientists and communicators promising to make history.
			p.lead The Elliott School of International Affairs has long been the poster child of the university; this is beginning to change, however, as the school as a whole move to interdisciplinary development and showcases its new-and-improved School of Engineering and Applied Sciences (SEAS). The prolific advances SEAS has made in the recent years has shifted attention away from the classical interpretation of GW purpose and has brought support, both administrative and communal, for the recently renewed GW Innovation Center (GWIC).
			p.lead The Innovation Center, thereover, embodies the aforementioned new values of the university. Out of the GWIC has come a variety of socially innovative organizations, start-ups, and new developments. The George Washington University's Innovation Center (GWIC) is a young but continuously growing team of innovators passionate about using interdisciplinary problem solving to approach both social and practical innovation. Primarily, we use our team's skill in engineering to complement our talents in a variety of other disciplines. Pursuing projects from a mobile maker bus to 3D printed prosthetics to a virtual Jane Goodall affiliate, we look to incorporate partners and projects from a web of complementary disciplines.
			
		article.section#our-history: .container
			h1.text-center.pb-1 Our History
			
			.timeline
				.timeline-path
				.timeline-item--offset
				// Event 1
				.timeline-item.timeline-item--odd
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger 4 Scores
						h4 We innovated
						!=utils.cropString("First mover advantage crowdfunding conversion assets business-to-business stealth.", 240, '...', true )
				// Event 2
				.timeline-item.timeline-item--even
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger 7 Years Ago
						h4 And innovated some more
						!=utils.cropString("Hackathon interaction design launch party infographic social media analytics churn rate incubator business plan learning curve long tail social proof.", 240, '...', true )
				// Event 3
				.timeline-item.timeline-item--odd
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger Last Week
						h4 Still innovating
						!=utils.cropString("Crowdfunding learning curve sales branding hackathon traction ownership network effects.", 240, '...', true )
				// Event 4
				.timeline-item.timeline-item--even
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger Yesterday
						h4 Innovatively
						!=utils.cropString("Influencer creative business-to-business venture.", 240, '...', true )
				
		.section#our-team: .container
			h2.text-center Meet the GWIC Team
			
			h3.text-center Fellows
			.row.about-organisers.col-md-offset-1.pb-2
				each org in fellows
					.col-sm-4
						+organiser(org)
			
			h3.text-center Fellows of Distinction
			.row.about-organisers.col-md-offset-1.pb-2
				each org in fellows_distinction
					.col-sm-4
						+organiser(org)
			
			h3.text-center Experts
			.row.about-organisers.col-md-offset-1.pb-2
				each org in experts
					.col-sm-4
						+organiser(org)
			
		.section#partners: .container
			h1.text-center Our Partners
			
			.organisations
				if organisations.length
					each org, i in organisations
						if i
							hr
						+organisation(org)
				else
					h3.text-muted There are no organisations yet. 

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

	// Dynamic scrolly thing
	script.
		$(document).ready(function(){
			$(window).scroll(function(){
				$("#hero").css("opacity", 1 - $(window).scrollTop() / ($('#hero').height() / 2));
			});
		});
