extends ../../layouts/default

//- INTRO
block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				.row
					.col-md-4.col-md-offset-2.ph-0
						.title-left GWIC
					.col-md-4.ph-0
						.title-right Powering 
						.title-right Interdisciplinary 
						.title-right Minds To Create 
						.title-right Social Change

				.row.pt-3
					.col-sm-4.col-sm-offset-2
						a(href='//eepurl.com/dlJLSL', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
							span.text-caps Join
					.col-sm-4
						a(href='https://secure2.convio.net/gwu/site/Donation2?df_id=1382&1382.donation=form1&set.SingleDesignee=1009&utm_source=seas-page&utm_medium=website&utm_content=main-button&utm_campaign=giving-campaign', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
							span.text-caps Donate
						p.text-center NOTE: Specify "Innovation Center" in the comments box

block content
	#projectFacts
		.fullWidth.eight.columns
			.projectFactsWrap
				.item.wow.fadeInUpBig.animated.animated(data-number='12', style='visibility: visible;')
					i.fa.fa-globe
					p#number1.number 7
					span
					p Langauges Spoken
				.item.wow.fadeInUpBig.animated.animated(data-number='55', style='visibility: visible;')
					i.fa.fa-users
					p#number2.number 25
					span
					p Disciplines Represented
				.item.wow.fadeInUpBig.animated.animated(data-number='359', style='visibility: visible;')
					i.fa.fa-map-marker
					p#number3.number 4
					span
					p Spaces

//- JS
block js
	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='//maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')

	script.
		$.fn.jQuerySimpleCounter = function( options ) {
				var settings = $.extend({
						start:  0,
						end:    100,
						easing: 'swing',
						duration: 400,
						complete: ''
				}, options );

				var thisElement = $(this);

				$({count: settings.start}).animate({count: settings.end}, {
				duration: settings.duration,
				easing: settings.easing,
				step: function() {
					var mathCount = Math.ceil(this.count);
					thisElement.text(mathCount);
				},
				complete: settings.complete
			});
		};


		$('#number1').jQuerySimpleCounter({end: 8,duration: 1000});
		$('#number2').jQuerySimpleCounter({end: 25,duration: 1500});
		$('#number3').jQuerySimpleCounter({end: 4,duration: 750});
