extends ../../layouts/default

//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement
include ../../mixins/organiser

//- INTRO
block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro.hero-intro--hasmask
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title GWIC
				h2.subtitle
					a(href="#what-we-do").double-down-arrow
// howdy
//- BODY
block content
	.page-content#what-we-do
		//- About
		article.section.section--featured.home-about: .container
			h1.text-center What We Do
			.row
				.col-md-4.col-md-offset-1
					p.lead Dub Works is the student-run organization managing the GW Innovation Center in Tompkins Hall on the Foggy Bottom campus, the first dedicated physical place for cross- departmental and multidisciplinary innovation on campus.

				.col-md-4.col-md-offset-1
					.img-wrapper
						img(src='/images/welcome.jpg', alt='Welcome!', style='width:100%')

			.row
				.col-md-9.col-md-offset-1
					p.lead Dub Works provides a supportive climate for ideation, creativity and entrepreneurial thinking; and it leverages existing resources to engage students, faculty, staff, alumni, and leaders from the community to address critical challenges.

			.row
				.col-md-4.col-md-offset-1
					.img-wrapper
						img(src='/images/room.jpg', alt='A cool room!', style='width:100%')

				.col-md-4.col-md-offset-1
					p.lead The focal point of the Dub Works is to facilitate knowledge transfer and acquisition of hands- on skills, new domain exploration, interaction with peers from other disciplines, alumni, and like-minded people. The Dub Works aids discussions around disruptive ideas, exposure to art and affords real-world opportunities for GW students aspiring to create value for others.

			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Join dub.works now
			p.mt-1

//- JS
block js

	if meetup
		script.
			SydJS.currentMeetupId = !{JSON.stringify(meetup.id)};
	if user
		script.
			SydJS.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&libraries=places')

	script.
		$(document).ready(function(){
			$(window).scroll(function(){
				$("#hero-fade").css("opacity", 1 - $(window).scrollTop() / ($('#hero-fade').height() / 2));
			});
		});

		$('a[href*="#"]')
		//Remove links that don't actually link to anything
		.not('[href="#"]')
		.not('[href="#0"]')
		.click(function(event) {
		// On-page links
			if (
				location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
				&&
				location.hostname == this.hostname) {
					// Figure out element to scroll to
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					// Does a scroll target exist?
					if (target.length) {
					// Only prevent default if animation is actually gonna happen
						event.preventDefault();
						$('html, body').animate({
							scrollTop: target.offset().top
							}, 1000, function() {
								// Callback after animation
								// Must change focus!
								var $target = $(target);
								$target.focus();
								if ($target.is(":focus")) { // Checking if the target was focused
									return false;
									} else {
										$target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
										$target.focus(); // Set focus again
			};
				});
			}
				}
								});
