extends ../../layouts/default

include ../../../public/styles/components/border-animation.less

block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title Our Space

block content
	.page-content
		//- rip in peace little 3d printer. canvas#canvas
		.section#our-spaces: .container
			.row
				.col-md-4
					.room-reservation
						img(src='/images/spaces/m06.JPG', alt='')
						p.title M06
						.overlay
						.button
							| Our Main Space in Tompkins Hall Mezzanine 06, just off the kitchen, is an area to work collaboratively or attend an event. We hold workshops, host speakers, and house ideation. It is the heart of the Innovation Center, and on a bright day.
				.col-md-4.col-md-offset-2
					.room-reservation
						img(src='/images/spaces/diner.JPG', alt='')
						p.title Diner
						.overlay
						.button
							| To the right is our kitchen. Here, we catch up, laugh, snack and advise each other. It is the place where the Innovation Center family comes to decompress and refuel- there is always someone to welcome you.
			.row
				.col-md-4				
					.room-reservation
						img(src='/images/spaces/unconference.JPG', alt='')
						p.title Unconference
						.overlay
						.button
							| The unconference room, across the hall from M06, is multipurpose: a virtual reality and photo studio, library, and small-group meeting room. It is the place to take a phone call, sit crisscross on the floor, read a book or schedule time with collaborators. While you are there, remember to play around with the green screen.
				.col-md-4.col-md-offset-2
					.room-reservation
						img(src='/images/spaces/protolab.JPG', alt='')
						p.title Proto-Lab
						.overlay
						.button
							| As you walk through our double glass doors, look to your left into the makerspace in the high bay below. We (will soon) have woodworking tools, laser cutters, 3D printers, sewing machines, and more. Makers come from across campus to build prototypes, make mistakes and discover designs or attend an event.
		
		.section#reserve-space: .container
			.row: .col-sm-4.col-sm-offset-4
				a(href='mailto:thegwic@gmail.com?subject=Space%20Request&body=Time:%0A%0ADate:%0A%0AEvent%20Name:%0A%0AEvent%20Description:%0A', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
					span.text-caps Reserve a Space
		
		.section#printing: .container
			h1.text-center 3D Printing
				h2.text-center Print Cam

				p.lead Coming Soon!
				
				//- p.lead We operate three Prusa i3 MK2S printers, each capable of printing PLA, ABS, and much more!
				
				//- .container
				//- 	video#video(width="360", controls='')
				//- 	video#video1(width="360", controls='')
				//- 	video#video2(width="360", controls='')
				
				.row: .col-sm-4.col-sm-offset-4
					a(href='https://docs.google.com/forms/d/e/1FAIpQLSe-oSb6E-3_XSlNhxjhdWfZo79HYlBy9b_-prSy_SUyfkONRQ/viewform', data-from=page.path).btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Request a Print

block js
	script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')

	script(src='js/common/imageNode.js')

	script.
		var video = document.getElementById('video');
		var video1 = document.getElementById('video1');
		var video2 = document.getElementById('video2');

		if(Hls.isSupported()) {
			// Video
			var hls = new Hls();
			hls.loadSource('http://ec2-18-188-68-214.us-east-2.compute.amazonaws.com:1337/hls/stream.m3u8');
			hls.attachMedia(video);
			hls.on(Hls.Events.MANIFEST_PARSED,function() {
				video.play();
			});

			// Video 1
			var hls1 = new Hls();
			hls1.loadSource('http://ec2-18-188-68-214.us-east-2.compute.amazonaws.com:1337/hls/stream1.m3u8');
			hls1.attachMedia(video1);
			hls1.on(Hls.Events.MANIFEST_PARSED,function() {
				video1.play();
			});

			// Video 2
			var hls2 = new Hls();
			hls2.loadSource('http://ec2-18-188-68-214.us-east-2.compute.amazonaws.com:1337/hls/stream2.m3u8');
			hls2.attachMedia(video2);
			hls2.on(Hls.Events.MANIFEST_PARSED,function() {
				video2.play();
			});
		}

		// hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
		// When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element throught the `src` property.
		// This is using the built-in support of the plain video element, without using hls.js.
		// Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
		// white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
		else if (video.canPlayType('application/vnd.apple.mpegurl')) {
			video.src = 'http://ec2-18-188-68-214.us-east-2.compute.amazonaws.com/hls/stream.m3u8';
			video.addEventListener('loadedmetadata',function() {
				video.play();
			});
