extends ../../layouts/default

block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title Policies and Procedures

block content
	.page-content
		//- rip in peace little 3d printer. canvas#canvas
		.section#policies: .container
			h1.text-center Policies and Procedures

			h3.text-center The "No A**HOLE" Rules (Adopted from Bob Sutton's No A**Hole Book)
			ol
				li SAY HI!
				li No personal insults
				li No invading one’s “personal territory”
				li No Uninvited physical contact
				li No Threats and intimidation, both verbal and nonverbal
				li No “Sarcastic jokes” and “teasing” used as insult delivery systems
				li No Withering e-mail flames
				li No Status slaps intended to humiliate their victims
				li No Public shaming or “status degradation” rituals
				li No Rude interruptions
				li No Dirty looks
				li No headphones 
				li Don’t treat people as if they are invisible

			h3.text-center FIRST NAME BASIS
			ol
				li All people in the space are on the same level, no hierarchy

			h3.text-center Leave Egos and Degrees at the Door
			ol
				li The GWIC is an all inclusive space and no one should feel uncomfortable. That being said no matter what your title is, leave it at the door
				li Foster a friendly and open environment
				li We are all social innovators use this as a common ground for a strong community
				li GWIC members/fellows will always include new members in conversations 
				li If you see someone new in the space offer the standard tour

			h3.text-center Cleaning Up and “Resetting” the Space
			ol
				li Working out of the GWIC is a privilege; Please leave it in better shape than you found it, clean up after yourself
				li You are welcome to drink water or coffee out of our wonderful white cups but you must wash your cup before leaving
				li You can move certain furniture around, however put it back in place
					ul
						li This does not apply to Yellow couch area and cushions
						li To reset the space refer to the floor plans posted on every wall in each room
				li Everything in the space you can use but make sure you put it away and don’t accidentally take it with you
					ul
						li If any equipment goes missing we will have to open up an investigation with GWPD

			h3.text-center Kitchen rules
			ol
				li Since none of the GWIC members are professional dishwashers do your dishes and one more
				li All food in the fridge will be thrown out every Friday at 6pm, clean out after yourself and do not leave a mess in the fridge
				li If your food explodes in the microwave, clean it up
				li Unfortunately our amazing coffee machine is leaking, please make sure to clean up if you see a spill coming from under the machine.  Dump out used coffee grounds frequently to avoid bigger messes! 

			h3.text-center Noise in the GWIC
			ol
				li Music will be played by the GWIC team. You are encouraged to suggest music/genre to the team.
				li The GWIC is a creative community. We encourage you talk to members. 
				li Be respectful, no yelling, dirty/bad language
				li GWIC is a non-partisan, non-political space.  

			h3.text-center Unconference Room Guidelines
			ol
				li The unconference room is strictly reserved for GW Fellow Projects when privacy is needed 
				li There are some exceptions for partner Student Organizations etc.
					ul
						li For more info contact GWIC space manager 

			h3.text-center The GWIC Newcomer Tour
			ol
				li The GW Newcomer tour is meant to welcome a new member in the space
				li Record name and email address for future contact
				li Introduce fellows and give them multiple points of contact
				li Tour
					ul
						li Kitchen area and free coffee for people involved, fridge service, microwave
						li Cafe area showcase
						li Unconference room showcase and limited access to it
						li M06
							ul
								li Tour of the space in a clockwise direction show the boards with Fellow projects
								li Then the workstations 
								li Computers
								li 3D printers 
								li Husky Tool Chest
								li Vinyl cutter
								li Electronics station coming soon soon
								li Makerspace, when ready

		.section#equipment: .container
			h1.text-center Equipment and Materials

			h3.text-center Equipment Reservations
			ol
				li All equipment MUST be reserved before use. Email the GWIC at thegwic@gmail.com

			h3.text-center Creating Stuff in the Innovation Center (and selling for profit)
			ol
				li The GWIC encourages entrepreneurial and creative mindset
				li DO NOT MONOPOLIZE THE TOOLS
				li The GWIC is a learning lab, we give the opportunity all students at GW campus to create in the GWIC. We encourage members to innovate for social good
				li See GWIC space managers for more info

			h3.text-center Computers in the GWIC
			ol
				li The two computers in the GWIC M06 are strictly for 3D modeling
				li DO NOT use these for social media and/or checking your email
					ul
						li You may use them for project specific work only

			h3.text-center Use of Consumable Supplies
			ol
				li “Consumables” are things in the GWIC that we run out of as people use them. Examples include wood, screws, 3d filament and resin, paper, etc.
				li The GWIC strives to be a space where visitors can try out ideas, experiment, and innovate.
				li “Normal Use” for consumables:
					ul
						li 3D filament: ⅕ of a 1kg spool (look at data on printer and take note of meters used)
							ul 
								li Count failed “print jobs”
						li 1/4 Vinyl standard sheet
							ul
								li Count also failed “jobs”
				li Beyond “Normal Use”, we recommend you purchase your own consumables

			h3.text-center All Books in the Innovation Center
			ol
				li These books are not owned by the University, owned by the GWIC team members, so they are not traditional check out 
				li Most of the books should be read in the GWIC; if you want to check one out please contact us

		.section#safety: .container
			h1.text-center Safety

			h3.text-center Emergencies
			ol
				li Report all Emergencies to one of the GW Innovation Center Fellows (posted on the slide-show on the big TV) or the two co-directors
				li In case of emergency call GWPD - (202) 994-6110
				li The two Fire Extinguishers are located in the M06 behind the yellow sofa and next to the the workbench in the back corner of the room

			h3.text-center First Aid Kit
			ol
				li For serious injuries call 911 immediately 
				li Report all injuries to the GWIC Staff
				li First aid kit is located under the desk below the PRUSA 3D printers