extends ../../layouts/default

include ../../mixins/project

block intro
	article#hero.hero-meetup
		//- Intro
		section.hero-intro-sm.hero-intro--hasmask#hero-fade
			.hero-background.position-relative#hero-fade
			.hero-intro-content
				h1.title Projects

block content
	.section#projects: .container
		.row
			each proj, i in Project
				.col-md-6
					+project(proj) 

block js
	// twitter
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
