/**
*
* Hero
*
*
**/

// General styles
@hero-intro-height-sm: 75vh;
@hero-intro-height-hf: 50vh;
@hero-intro-height-xs: 75vh; // was 420px
@hero-intro-height-full: 100vh;
#hero {
	position: relative;

	.hero-intro-sm {
		position: relative;
		height: @hero-intro-height-hf;
		color: white;
		text-align: center;
		margin-top: -(@navbar-height)*2;

		.hero-background {
			.ground;
			background: url("/images/hero.jpg") no-repeat center center;
			top: 0;
			left: 0;
			background-size: cover;
			display: block;
			height: @hero-intro-height-hf;
			// width: 100vh;

			// Scrolling effect
			&.position-fixed {
				position: fixed;
			}
			&.position-absolute {
				position: absolute;
			}

			&.position-relative {
				position: relative;
			}
		}

		.hero-intro-content {
			.hv-centered;
			margin-top: (@navbar-height)*2;
			width: 90%;
		}
		.title {
			color: currentColor;
			text-transform: uppercase;
			font-weight: 900;
			margin-top: -(@navbar-height)*2
		}
	}

	.hero-intro {
		position: relative;
		height: @hero-intro-height-sm;
		color: white;
		text-align: center;
		margin-top: -(@navbar-height)*2;

		.hero-background {
			.ground;
			background: url("/images/hero.jpg") no-repeat center center;
			top: 0;
			left: 0;
			background-size: cover;
			display: block;
			height: @hero-intro-height-sm;
			// width: 100vh;

			// Scrolling effect
			&.position-fixed {
				position: fixed;
			}
			&.position-absolute {
				position: absolute;
			}

			&.position-relative {
				position: relative;
			}
		}
		.hero-intro-content {
			.hv-centered;
			width: 90%;
		}
		.title {
			font-size: 7vw;
			color: currentColor;
			text-transform: uppercase;
			font-weight: 500;
			margin-top: (@navbar-height)*2.5;
		}
		.title-left {
			font-size: 10vw;
			text-align: right;
			padding-right: 24px;
		}
		.title-right {
			font-size: 2.2vw;
			text-align: left;
			text-transform: lowercase;
			border-left: 5px solid;
			padding-left: 24px;
		}
	}

	//- Mobile
	@media (max-width: @screen-sm-max) {
		.hero-intro {
			height: @hero-intro-height-full;

			.hero-background {
				height: @hero-intro-height-full;
			}
		}

		.hero-intro {
			height: @hero-intro-height-full;

			.title-left {
				font-size: 22vw;
				text-align: center;
				padding-right: 0px;
			}
			.title-right {
				font-size: 6vw;
				text-align: center;
				border-left: none;
				padding-left: 0px;
			}
		}
	}
}
.hero-button {
	.translate(-50%, 50%);
	background-color: white;
	border-radius: .75em;
	bottom: 0;
	left: 50%;
	padding: .5em;
	position: absolute;
	width: 35%;

	@media (max-width: @screen-md-max) {
		width: 60%;
	}

	@media (max-width: @screen-xs-max) {
		width: 90%;
	}
}
.hero-button-title {
	// .transition( all 200ms linear );
	// .translateY(-200%);
	margin: 0 auto;
	color: white;
	text-align: center;
	width: 100%;
	font-weight: 300;
	position: absolute;
	bottom: 4rem;
	left: 0;
	z-index: 99;
	font-size: x-large;
}

.spots-left {
	font-weight: 700;
}


.welcome-message {
	font-weight: 500;
	font-style: italic;
	color: white;
	// -webkit-animation: fade-in 2s infinite; /* Safari 4+ */
	// -moz-animation:    fade-in 2s infinite; /* Fx 5+ */
        //-o-animation:      fade-in 2s infinite; /* Opera 12+ */
	//animation:         fade-in 2s infinite;  IE 10+, Fx 29+
}

// @-webkit-keyframes fade-in {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-moz-keyframes fade-in {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-o-keyframes fade-in {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @keyframes fade-in {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }

// Mask
.hero-intro.hero-intro--hasmask {
	#gradient .vertical(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
	//box-shadow: inset 0 0 20em rgba(0,0,0,0.3);
}
